<h1>Messages real time</h1>

<div>
  <h1>Form</h1>
  <input type="text" id="user" placeholder="Insert user"/>
  <input type="text" id="message" placeholder="Insert message"/>

  <div id="box-messages">
    <h1>Messages:</h1>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>