<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>¡Bienvenido! {{user.name}}</h1>
    <h6>Estos son tus datos:</h6>
    <ul>
        <li>{{user.age}}</li>
        <li>{{user.email}}</li>
    </ul>
</body>
</html>